$height: 38px;

@mixin hover {
  &:hover {
    opacity: 0.7;
  }
}

.container {
  &.color-white {
    background: #fff;
    color: #000;
    @include hover;
  }

  &.color-black {
    background: #000;
    color: #fff;
    @include hover;
  }

  &.color-outline-green {
    border: 1px solid #03a66d;
    background: transparent;
    color: #03a66d;

    &:hover {
      background: #03a66d;
      border: 1px solid transparent;
      color: #fff;
    }
  }

  &.color-outline {
    border: 1px solid rgba(var(--colors-dark));
    background: transparent;
    color: rgba(var(--colors-dark));

    &:hover {
      border: 1px solid rgba(var(--colors-dark), 0.7);
      color: rgba(var(--colors-dark), 0.7);
    }
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 0;
  width: auto;
  height: $height;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  font-size: 12px;

  &:active {
    transform: scale(0.99);
  }

  &.fullWidth {
    width: 100%;
  }

  &.disabled,
  &[data-loading='true'] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.iconLayer {
  display: flex;
  max-width: calc($height / 2);
  height: $height;
  align-items: center;

  &.leftIcon {
    margin-right: 0.5rem;
  }

  &.rightIcon {
    margin-left: 0.5rem;
  }
}

.loaderLayer {
  width: calc($height / 2.5);
  height: calc($height / 2.5);
  border: 2px solid #ffffff4a;
  border-bottom-color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &.loader-secondary {
    border: 2px solid rgb(0 0 0 / 0.3);
    border-bottom-color: #fff;
  }

  &.loader-white {
    border: 2px solid rgb(0 0 0 / 0.7);
    border-bottom-color: #fff;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
