//header
.header {
  position: fixed;
  z-index: 99;
  border-bottom: 1px solid rgba(var(--colors-dark), 0.1);
  background-color: rgba(var(--colors-off-white));
  width: 100%;
  .header_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .header_logo {
      width: 160px;

      height: 56px;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .header_button {
      display: grid;
      justify-content: flex-end;
      button {
        height: 50px;
        width: 100px;
      }
    }
  }
}
