//header
.header {
  position: fixed;
  z-index: 99;
  border-bottom: 1px solid rgba(var(--colors-dark), 0.1);
  background-color: rgba(var(--colors-off-white));
  width: 100%;
  transition: 0.5s ease all;

  &.header_light {
    background-color: transparent;
    border-bottom: 1px solid rgba(var(--colors-light), 0.1);
  }

  .header_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    .header_logo {
      width: 160px;

      height: 56px;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .header_button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        height: 50px;
        width: 100px;
      }
    }
  }
  &.active {
    opacity: 0;
  }

  &.bgColor {
    background-color: var(--color-secondary);
  }
}

@media (max-width: 576px) {
  .header {
    .header_content {
      .header_button {
        button {
          height: 40px;
          width: 80px;
          font-size: 12px;
        }
      }
    }
  }
}
