.mobile {
  display: none;
  //   &::after {
  //     position: absolute;
  //     content: '';
  //     border: 12px solid orange;
  //     z-index: -2;
  //     top: 80px;
  //     left: 0;
  //     width: 100%;
  //     height: 100vh;
  //     background-color: rgba(var(--colors-dark));
  //     opacity: 0.1;
  //   }
  .content {
    .hamburger {
      position: relative;
      width: 22px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
      cursor: pointer;
      div {
        position: relative;
        width: 100%;
        height: 3.5px;
        border-radius: 4px;
        background-color: rgba(var(--colors-dark));
        transition: 300ms ease-in-out;
        right: 0;
        &:last-child {
          top: 0;
        }
      }
    }
    .menu {
      position: absolute;
      height: calc(100vh - 80px);
      width: 40%;
      right: -1000px;
      transition: right 300ms linear;
      top: 0;
      z-index: -1;
      ul {
        position: relative;
        margin-top: 80px;
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgba(var(--colors-light));
        overflow: auto;
        li {
          span {
            display: flex;
            align-items: center;
          }
        }
        .nav {
          position: relative;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          font-weight: 500;
          padding: 16px;
          height: fit-content;
          gap: 8px;
          list-style-type: none;
          cursor: pointer;

          &:nth-child(1) {
            a {
              width: max-content;
            }
          }

          span {
            svg {
              transition: 200ms ease;
            }
          }

          &:hover {
            span {
              svg {
                transform: rotate(-180deg);
                transition: 250ms ease;
              }
            }
          }

          .child {
            height: fit-content;
            overflow: hidden;
            transition: height 200ms ease;
            display: grid;
            gap: 4px;
            min-width: 200px;
            width: 100%;
            padding-left: 8px;
            background-color: rgba(var(--colors-light));
            font-size: 14px;
            .item {
              height: fit-content;
              width: fit-content;
              padding-block: 4px;

              a {
                border-bottom: 1px solid rgba(var(--colors-dark), 0.1);
                width: fit-content;
                position: relative;
                display: flex;
                align-items: center;
                transition: 200ms;
                &::after {
                  position: absolute;
                  content: '';
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 0px;
                  height: 0px;
                  background-color: rgba(var(--colors-dark));
                  transition: 200ms ease-out;
                }
                &:hover {
                  padding-left: 10px;
                  transition: 200ms;
                  &::after {
                    width: 6px;
                    height: 1px;
                    transition: 200ms ease-out;
                  }
                }
              }
              .grand_child {
                display: none;
                height: fit-content;
                overflow: hidden;
                padding-left: 12px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                padding-top: 12px;
              }
            }
          }
        }
      }
    }
    .close_menu {
      right: 0px;
      transition: right 300ms linear;
    }
  }
}

@media (max-width: 992px) {
  .mobile {
    display: flex;
  }
}

@media (max-width: 576px) {
  .mobile {
    .menu {
      width: 100% !important;
      right: 0px;
    }
  }
}
