.navbar {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 80px;

  &.navbar_light {
    .nav {
      color: rgba(var(--colors-light));
    }
  }

  .nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:nth-child(1) {
      a {
        width: max-content;
      }
    }

    span {
      transition: 200ms ease;
    }

    &:hover {
      .child {
        visibility: visible;
        opacity: 1;
        top: 80px;
        transition: 200ms ease;
      }
      .big_child {
        visibility: visible;
        opacity: 1;
        top: 80px;
        transition: 200ms ease;
      }

      span {
        transform: rotate(-180deg);
        transition: 250ms ease;
      }
    }

    .child {
      top: 96px;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: 200ms ease;
      display: grid;
      gap: 16px;
      min-width: 200px;
      width: 100%;
      padding: 20px;
      background-color: rgba(var(--colors-light));
      border: 1px solid rgba(var(--colors-dark), 0.1);
      a {
        position: relative;
        transition: 200ms;
        &::after {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 0px;
          height: 0px;
          background-color: rgba(var(--colors-dark));
          transition: 200ms ease-out;
        }
        &:hover {
          padding-left: 10px;
          transition: 200ms;
          &::after {
            width: 6px;
            height: 1px;
            transition: 200ms ease-out;
          }
        }
      }
    }
    .big_child {
      top: 96px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: 200ms ease;
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      gap: 16px;
      min-width: 80vw;
      width: 100%;
      padding: 20px;
      background-color: rgba(var(--colors-light));
      border: 1px solid rgba(var(--colors-dark), 0.1);
      .options {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .option {
          border: 1px solid rgba(var(--colors-dark), 0.3);
          border-radius: 8px;
          height: fit-content;
          display: flex;
          gap: 8px;
          padding: 6px 12px;
          align-items: center;
          &:hover {
            border: 1px solid rgba(var(--colors-dark), 0.8);
            color: rgba(var(--colors-dark), 0.5);
          }
          .title {
            font-size: 16px;
          }
        }
      }
      .contents_part {
        .contents {
          display: grid;
          gap: 4px;
          grid-template-columns: 1fr 1fr 1fr;
          .content {
            border: 1px solid transparent;
            border-radius: 4px;
            display: grid;
            padding: 12px;
            gap: 14px;
            &:hover {
              border: 1px solid rgba(var(--colors-dark), 0.3);
            }
            .header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .title {
                font-size: 20px;
              }
            }
            p {
              color: rgba(var(--colors-dark), 0.7);
            }
          }
        }
      }
    }
  }
}


@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}
