.container {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
}

.innerLabel {
  font-size: 1rem;
  color: rgba(var(--colors-slightly-dark-gray));
}

.innerWrapper {
  display: flex;
  align-items: center;
  background: var(--x-layout-1);
  border-radius: 3px;
  border: 1px solid var(--x-secondary);

  .textarea {
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: initial;
    padding: 10px;
    outline: 0;
    color: var(--x-black);
    border: 1px solid rgba(var(--colors-dark), 0.1);
  }
}

.infoMessage {
  font-size: 12px;
  color: #707a8a;
  text-align: left;
}

.errorMessage {
  font-size: 12px;
  color: #dc3545;
  text-align: left;
}