:root {
  --colors-primary: 213, 255, 0;
  --colors-light: 255, 255, 255;
  --colors-dark: 0, 0, 0;
  --colors-green: 150, 224, 16;
  --colors-blue: 81, 130, 255;
  --colors-slightly-dark-gray: 64, 64, 64;
  --colors-slightly-light-gray: 140, 137, 136;
  --colors-dark-gray: 13, 13, 13;
  --colors-light-gray: 242, 242, 242;
  --colors-medium-gray: 217, 217, 217;
  --colors-alert-blue: 81, 130, 255;
}
